{
  "singleQuote": true,
  "semi": false,
  "vueIndentScriptAndStyle": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript"],
  "importOrder": [
    "^@/assets/(.*)$",
    "^@/utils/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderGroupNamespaceSpecifiers": true
}
