
html,
  body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
}
.button {
    border: 1px solid #ccc;
    padding: 5px 15px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}
.selected {
    border: 1px solid #6495ed;
    background-color: #6495ed;
    color: white;
}
.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
