
html,
  body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 15px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.libraries {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.library {
    border: 1px solid #ccc;
    padding: 5px 15px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}
.selected {
    background-color: indigo;
    color: white;
}
